.section_contact{
    .wrapper_content{
        .wrapper-contact {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 10px;
            img {
                width: 48%;

            }
            .wrapper-info {
                width: 48%;
                padding: 20px;
                a {
                    display: block;
                    padding: 10px;
                }
                
            }
        }
    }
}