.section_deathcleaning {
    .wrapper_content {
        .one-card {
            padding: 20px;
            background-color: $baby-powder;
            border-radius: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            border: 1px solid red;
        }
    }
}