.section_methodefives {
    .wrapper_content {
        .methodefives_wrapper {
            .fives_wrapper {
                display: flex;
                justify-content: space-around;
                align-items: center;
                
                flex-wrap: wrap;
                .one_fives {
                    display: block;
                    margin: 10px;
                }
            }
        }
        .cta {
            margin: 10px 0;
        }
    }
}

@media all and (min-width: 768px) {
    .section_methodefives {
        .wrapper_content {
            .cta {
                margin-left: auto;
                max-width: 20%;
            }
        }
    }
}
